@import 'compass';
@include global-reset();

$default-radius: 3px;
$font-size: 16px;
$default-padding: 20px;

$light-brown: #cab693;
$brown: #776b5d;
$red: #f47564;
$gray: #d0c9c3;
$dark-gray: #868485;