@import "base";
@import "modifiers";
@import "buttons";
@import "lists";
@import "modals";
@import "forms";
@import "typography";

/* Space out content a bit */
html {
    @include background-image(linear-gradient($light-brown, $red));
    background-repeat: no-repeat;
    height: 100%;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    @include box-shadow(1px 0 5px 1px rgba(black, .2));
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: $brown;
    padding: $default-padding;
    
    h1 {
        color: white;
    }
}

.search {
    background: $red;
    @include clearfix();
    padding: $default-padding;

    input {
        border: none;
        @include border-radius(20px);
        height: 32px;
        float: left;
        font-weight: normal;
        font-size: $font-size;
        padding: 0 8px;
        width: 80%;
    }

    button {
        float: left;
        margin-left: 5%;
        width: 15%;
    }

}
