<div class="app">
  <h1>People</h1>

  <form class="add-new" ng-submit="addContact()">
    <label for="name">Name <input type="text" ng-model="newContact.name"></label>
    <label for="name">Phone Number <input type="text" ng-model="newContact.phone"></label>
    <label for="name">Addres <input type="text" ng-model="newContact.address"></label>
    <button type="submit">+</button>
  </form>

  <input type="search" class="search" ng-model="searchTerm">

  <ul class="list">
    <li ng-repeat="contact in contacts | filter:searchTerm track by $index">
      <strong class="fn">{{ contact.name }}</strong>
      <span class="phone">{{ contact.phone }}</span>
      <address>{{ contact.address }}</address>
      <button class="btn edit-btn" ng-click="editContact(contact)">Edit</button>
      <button class="btn remove-btn" ng-click="removeContact(contact)">Remove</button>
    </li>
  </ul>

  <form class="edit" ng-submit="doneEditing()" escape="cancelEditing()">
    <h2>Edit contact</h2>
    <label for="name">Name <input type="text" requred ng-model="editingContact.name"></label>
    <label for="name">Phone Number <input type="text" requred ng-model="editingContact.phone"></label>
    <label for="name">Addres <input type="text" requred ng-model="editingContact.address"></label>
    <button class="btn" type="submit" ng-click="cancelEditing()">Cancel</button>
    <button class="btn" type="submit">Done</button>
  </form>
</div>

<footer class="footer">
  <p>♥ from the Yeoman team</p>
</footer>
